.barra{
    display: flex;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    color: white;
    font-size: 20px;
    background-color: rgba(59, 59, 59, 0.478);
}
.image{
    height: 50px;
    width: 90px;
}
.home{
    font-family:sans-serif;
    font-size: medium;
    position: relative;
    left: 10px;
    top: 17px;
}
.shows{
    font-family:sans-serif;
    font-size: medium;
    position: relative;
    left: 20px;
    top: 17px;
}
.movies{
    font-family:sans-serif;
    font-size: medium;
    position: relative;
    left: 30px;
    top: 17px;
}
.new{
    font-family:sans-serif;
    font-size: medium;
    position: relative;
    left: 40px;
    top: 17px;
}

.list{
    font-family:sans-serif;
    font-size: medium;
    position: relative;
    left: 50px;
    top: 17px;
}

.lupa{
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 15px;
    right: 125px;
    width: 25px;
    height: 25px;
    border-radius: 10px;
}
.noti{
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 15px;
    right: 83px;
    width: 25px;
    height: 25px;
    border-radius: 10px;
}

.person{
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 5px;
    right: 20px;
    width: 40px;
    height: 40px;
    border-radius: 10px;
}